<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet">
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="{{url_for('static', filename='js/script.js')}}" type="text/javascript"></script>
    </head>
    <body>
        <div id="wrapper">
            <h1>Welcome to Ninja Gold!</h1>
            <h4>Your gold: {{ session['gold'] }}</h4>

            <div class="activity">
                <h4>Farm</h4>
                <p>(+ 10-20 zennys)</p>
                <form action='/process_money' method='post'>
                    <input type="hidden" name="building" value="farm"/>
                    <input type="submit" value="Find Gold!"/>
                </form>
            </div>
            <div class="activity">
                <h4>Cave</h4>
                <p>(+ 5-10 zennys)</p>
                <form action='/process_money' method='post'>
                    <input type="hidden" name="building" value="cave"/>
                    <input type="submit" value="Find Gold!"/>
                </form>
            </div>
            <div class="activity">
                <h4>House</h4>
                <p>(+ 2-5 zennys)</p>
                <form action='/process_money' method='post'>
                    <input type="hidden" name="building" value="house"/>
                    <input type="submit" value="Find Gold!"/>
                </form>
            </div>
            <div class="activity">
                <h4>Casino</h4>
                <p>(+/- 0-50 zennys)</p>
                <form action='/process_money' method='post'>
                    <input type="hidden" name="building" value="casino"/>
                    <input type="submit" value="Find Gold!"/>
                </form>
            </div>
            <div id="activities">
                <h2>Activity log </h2>
                {% if session['log'] %}
                    {% for log in session['log'] %}
                        {% if "Earned" in log %}
                            <p class="earned"> {{log}} </p>
                        {% else %}
                            <p class="lost"> {{log}} </p>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
            <form action='/restart' method='post'>
                <h4>If you've lost all your money at the casino...try again?</h4>
                <input type='submit' value='second lease on life...'>
            </form>

        </div><!--wrapper ends here-->
    </body>
</html>