<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>
    <body>
        <h1>Login!</h1>
        <form action="/login" method="post">
            <label>Email:</label>
            <input type="text" id='email' name="email"><br>
            <label>Password:</label>
            <input type="password" id='password' name="password"><br>
            <input type="submit" value="Login">
        </form>
        <a href="/register">Register here!</a>
        <% if (errors) { %>
            <p>Invalid Login Credentials!</p>
        <% } %>
    </body>
</html>