<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>
    <body>
         <h1> Register! </h1>
 
        <form action="/register" method="post">
 
            <label>First Name: </label>
            <input type="text" name="first_name" id="first_name">

            <label>Last Name: </label>
            <input type="text" name="last_name" id="last_name">

            <label>Email: </label>
            <input type="text" name="email" id='email'>

            <label>Birthday: </label>
            <input type="date" name="birthday" id='birthday'>

            <label>Password: </label>
            <input type="password" name="password" id='password'>

            <label>Confirm Password: </label>
            <input type="password" name="confirm" id='password'>

            <input type="submit" value="Register!">
        </form>
        <a href='/'>Login</a>
        <% if (passwordMatch == true){ %>
            <p>These two passwords do not match </p>
        <% } %>
        <% if (errors) { %>
            <% if (errors['name'] == 'MongoError') { %>
                <p>The email has already been taken!!</p>
            <% } %>
            <% for (var error in errors['errors']) { %>
                    <p><%= errors['errors'][error]['message'] %></p>
            <% } %>
        <% } %>
    </body>
</html>