<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <h1>Login now!</h1>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p> {{ message }} </p>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <form action='/handle_login' method='post'>
            <label for="email">Email: <input type='text' name='email' id='email'></label>
            <label for="password">Password: <input type='password' name='password' id='password'></label>
            <input type='submit' value="Log me in!">
        </form>
    </body>
</html>