<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <h1>Working in the shell again! :)</h1>
        <p>
            Assignment: Books
Create a new Django project and add a books model. Complete the below functionality.

1. Create Books model
Your model should contain the following fields: title, author, published date, category.

2. Migrate
Make your migrations and activate shell.

3. Create and show Books
Make 5 new books and retrieve them all, as before.

4. Add a new field
Add a field to your table called in_print. This should be a boolean field.

What should you do to see your changes reflected in your database table? You'll have to makemigrations and migrate again. Once you do, a prompt will walk you through filling in values for the existing entries. Why is this? Discuss with your cohort-mates. Ask an instructor if you and your friends can't work it out.

</p>
    
    </body>
</html>