@{
    ViewData["Title"] = "Home Page";
}
<h1>Trail Creation App</h1>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Length</th>
            <th>Elevation Change</th>
        </tr>
    </thead>
    <tbody>

    @foreach(var trail in @ViewBag.allTrails)
    {
        <tr>
            <td>@trail.Name</td>
            <td>@trail.Length</td>
            <td>@trail.Elevation</td>
        </tr>
    }
    </tbody>
</table>

<h3>Add a New Trail!</h3>
<a asp-controller="Trail" asp-action="NewTrail">Add a new trail!</a>