<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet">
    </head>
    <body>
        <h1>Hey everyone!</h1>
        <p>Welcome to our landing page. Hope you enjoy your stay!</p>
        <a href="{{url_for('new_dojo')}}">Enter the Dojo!</a>
        <a href="{{url_for('ninjas')}}">Read more about Ninja History</a>
    
    </body>
</html>