<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet">
    </head>
    <body>
        <h1>Ninjas!</h1>
        <p>The history of the world is also the history of Ninjas.
            After the Great Ninja War, clans formed together and split 
            into various villages. Of these villages, none was more powerful
            than the Village Hidden in the Leaves...</p>
        </p>
    
    </body>
</html>