<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Natural Language</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <h1> Enter a sentence! </h1>
        <form action='/handle_sentence' method='post'>
            {% csrf_token %}
            <textarea name="sentence" rows="10" cols="30"></textarea>
            <input type='submit' value="Submit!">
        </form>
    </body>
</html>