<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Natural Language</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <h1> Analysis of your sentence </h1>
        <h2> Thanks for using NLKT! </h2>
        <p>This was your original sentence: {{request.session.original_sentence}}</p>
        <p>
        {% for key, value in request.session.list %}
            <p>{{ key }}: {{ value }}<p>
        {% endfor %}
    </body>
</html>