<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <h1>Contact me!</h1>
        <a href='/'>Home</a>
        <a href='/projects'>Projects</a>
        <a href='/contact'>Contact Me</a>
        <form action='#'>
            <label for="name">Name: </label>
            <input type="name" name="name">
            <label for="email">Email: </label>
            <input type="email" name="email">
            <label for='message'>Message: </label>
            <textarea name='message'></textarea>
            <input type='submit' value='Submit!'>
        </form>
    </body>
</html>