<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="~/css/style.css" rel="stylesheet">
    </head>
    <body>
        <h1>Hello Portfolio!</h1>
        <a href='/'>Home</a>
        <a href='/projects'>Projects</a>
        <a href='/contact'>Contact Me</a>

        <h3>Me!</h3>
        <img src="~/images/hike.JPG">
    </body>
</html>
