<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="~/css/style.css" rel="stylesheet">
    </head>
    <body>

        <h1>These are my projects!</h1>
        <a href='/'>Home</a>
        <a href='/projects'>Projects</a>
        <a href='/contact'>Contact Me</a>
        @{
            var projectList = new List<string>{
                                "HartPR",
                                "HartTV",
                                "SlippiViz",
                                "More to come..."};
            foreach (var project in projectList)
            {
                <h3>@project</h3>
            };
        }
        
    </body>
</html>
