<header>
  <section class="left">
    <span class="title">Goku's Power Level: </span>
    <input type="number" max="100" min="0" [(ngModel)]="power">
  </section>
</header>
<section class="body">
  <app-human [power]="power" class='card'></app-human>
  <app-saiyan [power]="power" class='card'></app-saiyan>
  <app-supersaiyan [power]="power" class='card'></app-supersaiyan>
  <app-supersaiyantwo [power]="power" class='card'></app-supersaiyantwo>
  <app-supersaiyanthree [power]="power" class='card'></app-supersaiyanthree>
  <app-supersaiyanfour [power]="power" class='card'></app-supersaiyanfour>
</section>