<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    </head>
    <body>
        <div class='container-fluid'>
            <div class='col-md-12'>
                <a href="{% url 'dashboard' %}">E.T. Phone Home</a>
                <h1>This is {{user.first_name}}'s Page</h1>
                <h4>Registered at: {{user.created_at}} </h4>
                <h4>Email: {{user.email}} </h4>

                <form action="/users/handle_message/{{user.id}}"method='post'>
                    {% csrf_token %}
                    <div class='form-group'>
                        <label for="message">Leave a Message for {{user.first_name}}</label>
                        <textarea name='message' id='message' class='form-control'></textarea>
                    </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                </form>

                <div class='message_container'>
                    <h1>Messages:</h1>
                    {% for message in messages %}
                        <h3>{{message.user.first_name}}: {{message.message_text}} {{message.created_at}}</h3>
                        {% for comment in message.messages_comments.all %}
                            <p>{{comment.commenter.first_name}}: {{comment.comment_text}}</p>
                            <p>{{comment.created_at}}</p>
                        {% endfor %}

                        <form action="/users/handle_comment/{{message.id}}" method='post'>
                            {% csrf_token %}
                            <div class='form-group'>
                                <label for="comment">Leave a Comment on this message</label>
                                <textarea name='comment' id='comment' class='form-control'></textarea>
                            </div>
                            <button type="submit" class="btn btn-default">Submit</button>
                        </form>

                    {% endfor %}
            
                </div>
            </div>
        </div>



        </div>
    
    </body>
</html>