@model auctions.Models.RegisterViewModel
<h1>Welcome to Auctions!</h1>
<div class="col-md-6">
    <h2>Register</h2>
    <form asp-controller="User" asp-action="HandleRegister" method='post'>
        <div class='form-group'>
            <label asp-for="UserName">User Name:</label>
            <input asp-for="UserName"/>
            <span asp-validation-for="UserName"></span>
        </div>
        <div class='form-group'>
            <label asp-for="FirstName">First Name: </label>
            <input asp-for="FirstName"/>
            <span asp-validation-for="LastName"></span>
        </div>
        <div class='form-group'>
            <label asp-for="LastName">Last Name: </label>
            <input asp-for="LastName"/>
            <span asp-validation-for="LastName"></span>
        </div>
        <div class='form-group'>
            <label asp-for="Password">Password: </label>
            <input asp-for="Password"/>
            <span asp-validation-for="Password"></span>
        </div>
        <div class='form-group'>
            <label asp-for="PasswordConfirmation">Password Confirmation: </label>
            <input asp-for="PasswordConfirmation" type='password'>
            <span asp-validation-for="PasswordConfirmation"></span>
        </div>

        <button class='btn btn-default' type='submit'>Register Now!</button>
    </form>
</div>

@foreach (var error in @ViewBag.Errors)
{
    <p>@error</p>
}
<div class='col-md-6'>
    <h2>Login</h2>
    <form asp-controller="User" asp-action="Login" method='post'>
        <div class='form-group'>
            <label for='UserName'>UserName: </label>
            <input type='text' name="UserName">
        </div>
        <div class='form-group'>
            <label for='PasswordToCheck'>Password: </label>
            <input type='password' name="PasswordToCheck">
        </div>
        <button class='btn btn-default' type='submit'>Login!</button>
    </form>
</div>
