<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Products</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">    </head>
    <body>
        <div class='container-fluid'>
            <h1>Welcome to PRODUCTS</h1>

            <table class='table table-hover'>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Product Name</th>
                        <th>Seller Name</th>
                        <th>Price</th>
                        <th>Created At</th>
                        <th>Updated At</th>
                        <th>Actions</th>
                    </tr>
                </thead>

                <tbody>
                    {% for product in products %}
                    <tr>
                        <td>{{product.id}}</td>
                        <td>{{product.name}}</td>
                        <td>{{product.user.first_name}}</td>
                        <td>{{product.price}}</td>
                        <td>{{product.created_at}}</td>
                        <td>{{product.updated_at}}</td>
                        <td>
                            <a href="{% url 'products:show' product.id %}">Show</a>
                            <a href="{% url 'products:edit' product.id %}">Edit</a>
                            <form action="{% url 'products:destroy' product.id %}" method='post'>
                                {% csrf_token %}
                                <button class='btn btn-link' type='submit'>Delete this product!</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a class='btn btn-default' href="{% url 'products:new' %}">Add New Product!</a>


            <h3><a href="{% url 'auth:logout' %}">Logout?</a></h3>
        <div>
    
    </body>
</html>