<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{url_for('static', filename='style.css')}}" rel="stylesheet">
    </head>
    
    <body style="background-color:rgb({{color.red}}, {{color.green}}, {{color.blue}})"
        <div id="wrapper">
            <h1> Enter your color values below! </h1>
            <form action='/' method='get'>
                Red: <input type="range" name="red" min="0" max="255">
                Green: <input type="range" name="green" min="0" max="255">
                Blue: <input type="range" name="blue" min="0" max="255">
                <input type="submit" value="Show my color!">
            </form>
            <h3>All values are restricted from 0 - 255 :)</h3>
        </div>
    </body>
</html>

