@{
    ViewData["Title"] = "Home Page";
}
<h1>Default Blank Page~</h1>
<p>Get to adding stuff</p>

<div>
    @{
        <h3>Please correct your errors!</h3>

        foreach(var error in @ViewBag.errors)
        {
            //If there are any errors for a field...
            if(@error.Errors.Count > 0)
            {
                // We show the first error for that field
                <p>@error.Errors[0].ErrorMessage</p>
            }
        }

    }
</div>

<h1>Enter your information</h1>
<form action='/add_user' method='post'>
    <label for='first_name'>First Name: </label>
    <input type='text' name='first_name'>

    <label for='last_name'>Last Name: </label>
    <input type='text' name='last_name'>

    <label for='age'>Age: </label>
    <input type='number' name='age' min='0' max='130'>

    <label for='email'>Email: </label>
    <input type='text' name='email'>

    <label for ='password'>Password: </label>
    <input type='password' name='password'>

    <button type='submit'>Submit!</button>

</form>