<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!!
  </h1>

  <ul>
    <li>
      <a [routerLink]="['/seattle']">Seattle, WA</a>
    </li>

    <li>
      <a [routerLink]="['/sanjose']">San Jose, CA</a>
    </li>

    <li>
      <a [routerLink]="['/dc']">Washington D.C.</a>
    </li>

    <li>
      <a [routerLink]="['/dallas']">Dallas, TX.</a>
    </li>

    <li>
      <a [routerLink]="['/chicago']">Chicago, IL.</a>
    </li>

    <li>
      <a [routerLink]="['/burbank']">Burbank, CA.</a>
    </li>


  </ul>
  <router-outlet></router-outlet>

</div>
