<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    </head>
    <body>
        <div class='container'>
            <h1>Hello, {{request.session.first_name}}!</h1>
            <h2>Most Popular Secrets!</h2>
            <div class='col-md-12'>
                {% for secret in secrets %}
                    <p>{{secret.secret}} {{secret.created_at}} Likes: {{secret.like.count}}</p>
                    {% if secret.author.id == request.session.id %}
                        <form action='/delete_secrets/{{secret.id}}' method='post'>
                            {% csrf_token %}
                            <button type="submit" class="btn btn-default">Delete</button>
                        </form>
                    {% endif %}


                    {% if current_user.id == secret.author.id %}
                        <p>You can't like your own secret :)</p>

                    {% elif current_user not in secret.like.all%}
                        <form action='/like_secrets/{{secret.id}}' method='post'>
                            {% csrf_token %}
                            <button type="submit" class="btn btn-default">Like!</button>
                        <!-- form to like a secret -->
                        </form>
                    {% else %}
                        <p>You already liked this secret!</p>
                    {% endif %}
                {% endfor %}
                <h4>Secrets above</h4>
            </div>
        </div><!--Container ends here -->
    
    </body>
</html>