<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    </head>
    <body>
        <div class='container'>
            <h1>Hello, {{request.session.first_name}}!</h1>
            <h2>Most Popular Secrets!</h2>
            <h2>Go back to our<a href="{% url 'secrets' %}"> board of secrets :) </a></h2>
            <div class='col-md-12'>
                {% for secret in secrets %}
                    <p>{{secret.secret}} {{secret.created_at}} Likes: {{secret.like.count}}
                    {% if secret.author.id == request.session.id %}
                        <a href="{% url 'delete_secrets' secret_id=secret.id source='hof' %}">Delete</a>
                    {% endif %}
                    
                    {% if current_user.id == secret.author.id %}
                        <p>You can't like your own secret :)</p>
                    {% elif current_user not in secret.like.all%}
                        <a href="{% url 'like_secrets' secret_id=secret.id source='hof'%}">Like</a>
                    {% else %}
                        <strong>You liked this!</strong>
                    {% endif %}
                    </p>
                {% endfor %}
            </div>
        </div><!--Container ends here -->
    </body>
</html>