<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    </head>
    <body>
        <div class='container'>
            <div class='col-md-12'>
                <h1>Hello, {{request.session.first_name}}!</h1>
                <h2>Check out our <a href="{% url 'hall_of_fame' %}">Hall of Fame!</a></h2>
                <form action='/handle_secrets' method='post'>
                    {% csrf_token %}
                    <div class='form-group'>
                        <textarea name='secret' placeholder="Your secret here..." class='form-control'></textarea>
                        <input type='submit' value="Post"> 
                    </div>
                </form>
            </div>
            <div class='col-md-12'>
                <h2>Recent Secrets</h2>
                {% for secret in secrets %}
                    <p>{{secret.secret}} {{secret.created_at|timesince}} ago Likes: {{secret.like.count}}
                    {% if secret.author.id == request.session.id %} <!-- secret creator -->
                        <a href="{% url 'delete_secrets' secret_id=secret.id source='main_page' %}">Delete</a>
                    {% endif %}
                    {% if current_user.id == secret.author.id %}
                    <!-- prevents liking your own secret -->

                    {% elif current_user not in secret.like.all%}
                        <a href="{% url 'like_secrets' secret_id=secret.id source='main_page' %}">Like</a>

                    {% else %}
                        <strong>You liked this!</strong>
                    {% endif %}
                    </p>
                {% endfor %}
           


            </div>

        </div><!--Container ends here -->
    
    </body>
</html>