<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <link rel="stylesheet" type='text/css' href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <div class='container'>
            <h1 id="header_text">Welcome to BOOKS</h1>
            <div id="user_boxes">
                <div id="registration_box">
                    <h1>Register Now!</h1>
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                <p> {{ message }} </p>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}

                    <form action='/handle_registration' method='post'>
                        <label for="first_name">First Name: <input type='text' name='first_name' id='first_name'></label>
                        <label for="last_name">Last Name: <input type='text' name='last_name' id='last_name'></label>
                        <label for="email">Email: <input type='text' name='email' id='email'></label>
                        <label for="password">Password: <input type='password' name='password' id='password'></label>
                        <label for="confirm_password">Confirm Password: <input type='password' name='confirm_password' id='confirm_password'></label>
                        <input type='submit' value="Register me out">
                    </form>
                </div>

                <div id="login_box">
                    <h1>Login now!</h1>
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                <p> {{ message }} </p>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}

                    <form action='/handle_login' method='post'>
                        <label for="email">Email: <input type='text' name='email' id='email'></label>
                        <label for="password">Password: <input type='password' name='password' id='password'></label>
                        <input type='submit' value="Log me in!">
                    </form>
                </div><!--Login box ends here -->
            </div><!--user_boxes ends here! -->
        </div>
    </body>
</html>