<!DOCTYPE html>
<html lang="Ten">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <h1>The result of your survey submission!</h1>
        <h3>Name: <%= user.name %></h3>
        <h3>Location: <%= user.location %></h3>
        <h3>Favorite Language: <%= user.language %></h3>
        <h3>Comment: <%= user.comment %></h3>
    
    </body>
</html>