<h2>Edit {{dog.name}}!</h2>

<form (submit)="update(dog)" #formData="ngForm">
  <p>Name <input type='text' name='name' [(ngModel)]="dog.name" #name='ngModel' required></p>
  <div class='errors' *ngIf='name.errors && (name.dirty || name.touch)'>
    <span *ngIf='name.errors.required'>Name is required</span>
  </div>

  <p>Age <input type='number' min='0' max='100' name='number' [(ngModel)]="dog.age" #age='ngModel' required ></p>
  <p>Description: </p>
  <textarea name='description' [(ngModel)]="dog.description" #description='ngModel' required></textarea>
  <div class='errors' *ngIf='description.errors && (description.dirty || description.touch)'>
    <span *ngIf='description.errors.required'>Description is required</span>
  </div>
  <input type='submit' [disabled]=!formData.valid>
</form>


{{ dog | json }}
