<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Landing Page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/stylesheets/style.css" rel="stylesheet">
    </head>
    <body>
        <h1>Welcome to the Cars and Cats Assignment</h1>
        <h3>This is a form to add a new Car!</h3>
        <form action="#">
            <label for='name'>Car: </label>
            <input type='text' name='name' id='name'>
            <button type='submit' value='Submit'>Submit!</button>
        </form>
    
    </body>
</html>