<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Dojo Survey</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <h1>Welcome to Dojo Survey</h1>
        @foreach(var error in ViewBag.Errors)
            {
                <p>@error</p>
            }

        <form action='/handle_submit' method='post'>
            <label for='name'>Your Name: </label>
            <input name='name' type='text'/>

            <label for="location">Dojo Location:</label>
            <select name="location">
                <option value="San Jose">San Jose</option>
                <option value="Seattle">Seattle</option>
            </select>

            <label for="language">Favorite Language:</label>
            <select name="language">
                <option value="Python">Python</option>
                <option value="C#">C#</option>
            </select>
    

            <label for="comment">Comment (Optional):</label>
            <textarea name="comment">
            </textarea>

            <button type="submit">Submit</button>
        </form>
    
    </body>
</html>