<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Dojo Survey</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <h1>Thanks for submitting! Here's your info!</h1>

        <h3> Name: @ViewBag.Name </h3>
        <h3> Language: @ViewBag.Language </h3>
        <h3> Location: @ViewBag.Location </h3>
        <h3> Comment: @ViewBag.Comment </h3>
    
    </body>
</html>