<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Dog Dashboard</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <h1>Welcome to Dog Dashboard!</h1>
        <h2>This is the information for one dog!</h2>    
        <h3>Name: <%= dogs.name %></h3>
        <h4>Description: <%= dogs.description %></h4>
        <h5>Created At: <%= dogs.createdAt %></h5>
    </body>
</html>