<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Friends</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <h1>These are all my friends!</h1>
        {% for friend in all_friends: %}
            <p>ID: {{ friend['id'] }}</p>
            <p>First Name: {{ friend['first_name'] }}</p>
            <p>Last Name: {{ friend['last_name'] }}</p>
            <p>Occupation: {{ friend['occupation'] }}</p>
            
        <h4>Update this friend!</h4>
        <form action='/update_friend/{{friend["id"]}}' method='POST'>
            <label for="first_name">First Name:<input type='text' name='first_name' id='first_name' value="{{ friend['first_name'] }}"></label>
            <label for="last_name">Last Name:<input type='text' name='last_name' id='last_name' value="{{ friend['last_name'] }}"></label>
            <label for="occupation">Occupation:<input type='text' name='occupation' id='occupation' value="{{ friend['occupation'] }}"></label>
            <input type="submit" value="Update">
        </form>
        <h4>Delete a Friend</h4>
        <form action='/remove_friend/{{ friend["id"] }}' method='POST'>
            <input type="submit" value="Delete">
        </form>
        <hr>
        {% endfor %}

        <h4>Add a Friend</h4>
        <form action='/friends' method='POST'>
            <label for="first_name">First Name:<input type='text' name='first_name' id='first_name'></label>
            <label for="last_name">Last Name:<input type='text' name='last_name' id='last_name'></label>
            <label for="occupation">Occupation:<input type='text' name='occupation' id='occupation'></label>
            <input type="submit" value="Add">
        </form>
    </body>
</html>